html, body {
	margin: 0;
	padding: 0;
	background-color: #dedede;
}
.image-list {
	width: 400px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 10px 40px;
}
.image-list__title {
	font-family: Arial, serif;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}
.image-block {
	margin: 20px 0;
	border: 1px solid #dedede;
	padding: 10px;
}
.image-block__image {
	text-align: center;
}
.image-block__caption {
	font-size: 18px;
	text-align: center;
	font-family: Arial, serif;
	line-height: 1.5;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
}
.overlay__image {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}